<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width-device-width", initial-scale="1.00">
    <title>Perfil Bookly</title>
</head>
<body>
    <header>
        <div class = "navbar-acoes">
            <div class="logo">
            <img src ="src/main/resources/Images/Bookly (3).png" class="imagem-logo" alt="logo bookly">
            </div>
            <div class = "perfil-user">
                <img src = "src/main/resources/Images/jennavasco.png" alt="foto de perfil" class="foto-perfil">
                <span>Mari</span>
            </div>
            <div class="btn-buscar">
                <svg></svg>
            </div>
        </div>
    </header>
    <div>
        <h2 class = "botao_editar_perfil" >editar perfil</h2>
    </div>
</body>
</html>